// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.game-container{
  width: 1000px;
  margin: auto;
}

.char-box{
  height: 75px;
  width: 75px;
  padding: 0;
  border-radius: 10%;
  font-weight: bold;
  font-size: 20pt;
  color: white;
  box-shadow: 2px 2px 5px rgb(161, 161, 161);
}
.prompt-label{
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 15pt;
}
.form-row{
  padding: 0;
}
.play-again-btn{
  color: white;
  text-decoration: none;
}
.game-result-p{
  font-size: 20pt;
}
